<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (C) 2015 - 2016 - Open Source Geospatial Foundation. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>
    <bean class="org.geoserver.platform.ModuleStatusImpl">
        <constructor-arg index="0" value="gs-main"/>
        <constructor-arg index="1" value="GeoServer Main"/>
    </bean>
    <bean class="org.geoserver.platform.RenderingEngineStatus"/>
    <bean class="org.geoserver.platform.SystemPropertyStatus"/>
    <bean class="org.geoserver.platform.SystemEnvironmentStatus"/>
    
    <!--  lock providers -->
    <bean id="nullLockProvider" class="org.geoserver.platform.resource.NullLockProvider"/>
    <bean id="memoryLockProvider" class="org.geoserver.platform.resource.MemoryLockProvider"/>
    <bean id="fileLockProvider" class="org.geoserver.platform.resource.FileLockProvider"/>
    <bean id="lockProvider" class="org.geoserver.platform.resource.GlobalLockProvider">
        <property name="delegate" ref="nullLockProvider"/>
    </bean>
      
    <!-- used by alternative resource stores -->
    <bean id="resourceNotificationDispatcher" class="org.geoserver.platform.resource.SimpleResourceNotificationDispatcher"/>
    
	<!-- resources -->
    <bean id="dataDirectoryResourceStore" class="org.geoserver.platform.resource.DataDirectoryResourceStore">
        <property name="lockProvider" ref="lockProvider"/>
    </bean>

    <bean id="resourceStore" class="org.geoserver.platform.resource.ResourceStoreFactory" />

    <bean id="resourceLoader" class="org.geoserver.platform.GeoServerResourceLoader">
	    <constructor-arg ref="resourceStore"/>
    </bean>
    
    
    <!-- extensions -->
    <bean id="extensions" class="org.geoserver.platform.GeoServerExtensions"/>

    <!-- environments -->
    <bean id="environments" class="org.geoserver.platform.GeoServerEnvironment" depends-on="extensions"/>
    
    <!-- the shared filter factory -->
    <bean id="filterFactory" class="org.geotools.filter.FilterFactoryImpl"/>
   

    <!--  dispatcher -->
    <bean id="dispatcher" class="org.geoserver.ows.Dispatcher"/>


  <bean id="dispatcherMapping" 
    class="org.geoserver.ows.OWSHandlerMapping">
	 <property name="alwaysUseFullPath" value="true"/>
	 <property name="mappings">
      <props>
        <prop key="/ows">dispatcher</prop>
        <prop key="/ows/**">dispatcher</prop>
      </props>
    </property>
  </bean>
 
  

</beans>
